<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-floating">
        <textarea class="form-control" id="itemName" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Item Name</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="description" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="category" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Category</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="price" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Price</label>
      </div>  

      <button class="btn btn-primary" id="submitButton">Submit</button>


      <script src="script.js"></script>
</body>
</html>