<div class="container m-6 px-6">
    <div class="column">
        <div class="columns">
            <div class="column is-8">
                {{!-- <h1 class="title">BUYING</h1> --}}

                 <div class="box">
                     <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                <h1 class="subtitle"><center>What are you looking for?</h1>
                <form>
                    <input class="item input searching" type="text" placeholder="Enter your search here">
                    <button class="button submitBuySearch">Search</button><br><br>
                </form>
                <button class="button home">Return Home</button>
            </div>

            <div class="column is-6">
                <ul>
                    {{!-- content from db here --}}
                    {{#each Selling}}
                        {{#if item}}
                            {{>buy-block}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
</div>
</div>