<div class="container">
    <div class="column">
        <div class="column is-12">
            <div class="box">
                <div class="content">
                    <h1 class="title">Welcome <span class="member-name"></span></h1>
                    <h3 class="subtitle">what would you like to do?</h3>
                    <button class="buy button is-medium">Buy</button>
                    <button class="sell button is-medium">Sell</button>
                    <a style="float: right;" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>