
<div class="container">
    <div class="columns">
        <div class="column is-6">
            <h1 class="subtitle">Welcome to...</h1>
            <h1 class="title">Betsy</h1>
            <h1 class="subtitle">what would you like to do?</h1>
            <button class="buy">Buy</button>
            <button class="sell">Sell</button>
        </div>

        <div class="column is-6">
            {{!-- if user is has items for sale, they should be displayed here --}}
        </div>

    </div>
</div>
