<div class="container">
  <div class="column">
    <h1 class="title">Login Form</h1>

    <div>
      <form class="login">
        <input id="email-input" type="email" placeholder="example@company.com">
        <input id="password-input" type="password" placeholder="randompassword">
        <button>Log Up</button>
      </form>
    </div>

    <h1 class="subtitle">Or Sign up <a href="/">here</a></h1>
  </div>
</div>