<div class="container">
    <div class="column">
        <h1 class="title has-text-centered">Welcome to Betsy</h1>
        <h1 class="subtitle has-text-centered">Log In</h1>
        <div class="column">
            <div class="box">
                <form class="login">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-medium" id="email-input" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div><br>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" id="password-input" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div><br>
                    <button class="login button">Log In</button><br>
                    <hr>
                    <h1 class="subtitle">Sign up <a href="/">here</a></h1>
                </form>
            </div>
        </div>
    </div>
</div>