<div class="container">
    <div class="column">
        <h1 class="title">SELLING</h1>

        <h1 class="subtitle">What are you selling?</h1>
        <div>
            <form>
                <input class="item" type="text" placeholder="Item"><br>
                <input class="description" type="text" placeholder="Description"><br>
                <input class="category" type="text" placeholder="Category"><br>
                <input class="price" type="text" placeholder="Price"><br>

                <button class="submitSell">Sell It!</button>
            </form>
        </div>
        <button class="home">Return Home</button>
    </div>

</div>