<div class="container">
    <div class="column">
        <div class="column">
            <div class="column is-12">
                <div class="box">
                    <div class="content">
                        <h1 class="subtitle has-text-centered">What are you selling?</h1>
                        <div>
                            <form class="submitSell">
                                <div class="select">
                                    <select class="category">
                                        <option>Appliances</option>
                                        <option>Apps &amp; Games</option>
                                        <option>Automotive &amp; Parts</option>
                                        <option>Baby</option>
                                        <option>Beauty</option>
                                        <option>Books</option>
                                        <option>Cellphones &amp; Accessories</option>
                                        <option>Computer</option>
                                        <option>Home &amp; Decor</option>
                                        <option>Sport &amp; Outdor</option>
                                        <option>Miscellaneous</option>
                                    </select>
                                </div>
                                <br><br>
                                <input class="item input" type="text" placeholder="Item"><br><br>
                                <input class="description input " type="text" placeholder="Description"><br><br>
                                <input class="price input" type="number" step="0.01" min="0.01" placeholder="Price"><br><br>
                                <button id="sellItBtn" class="button">Sell It</button>
                            </form><br>
                            <button id="home" class="button">Return Home</button>
                            <a style="float: right;" href="/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12">
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <h1 class="subtitle">Active Listings for <span class="member-name subtitle"></span></h1>
                            <hr>
                            <div>
                                {{!-- content from db here --}}
                                {{#each Listings}}
                                {{#if active}}
                                {{>sell-block}}
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <h1 class="subtitle">Sold Items</h1>
                            {{!-- <button class="button">Clear History</button> --}}
                            <hr>
                            {{!-- we could add all-time earnings here --}}
                            <div>
                                {{!-- content from db here --}}
                                {{#each Listings}}
                                {{#unless active}}
                                {{>sell-block}}
                                {{/unless}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card" id="sellingModal">
                <header class="modal-card-head">
                    <p class="modal-card-title">Update Listing</p>
                    <button id="closeModal" class="button is-small">Cancel</button>
                </header>
                <section class="modal-card-body">
                    <form id="submitUpdate">
                        {{!-- listing info to update here --}}
                        <input id="newItem" class="input" placeholder="item"><br><br>
                        <input id="newDescription" class="input" placeholder="description"><br><br>
                        <input type="number" step="0.01" min="0.01" id="newPrice" class="input" placeholder="price"><br><br>
                        <div class="select">
                            <select id="newCategory">
                                <option>Appliances</option>
                                <option>Apps &amp; Games</option>
                                <option>Automotive &amp; Parts</option>
                                <option>Baby</option>
                                <option>Beauty</option>
                                <option>Books</option>
                                <option>Cellphones &amp; Accessories</option>
                                <option>Computer</option>
                                <option>Home &amp; Decor</option>
                                <option>Sport &amp; Outdor</option>
                                <option>Miscellaneous</option>
                            </select>
                        </div>
                        <button id="updateModalBtn" class="button is-success" style="float: right;">Save changes</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
