<div class="container m-6 px-6">
    <div class="column">
        <div class="columns">
            <div class="column is-6">
              <div class="box">



    <h1 class="title">Sign Up Here</h1>

    <div>
      <form class="signup">
        Email<input id="email-input" input class="input" type="email" placeholder="example@company.com">
        Password<input id="password-input" input class="input" type="password" placeholder="randompassword">
        <br><br>
        <button class="button signUp">Sign Up</button>
        <br><br>
 <h1 class="subtitle">Log In <a href="/login">here</a></h1>
      </form>
    </div>
    </div>
    </div>
    </div>

   
  </div>
</div>