<div class="container">
  <div class="column">
    <h1 class="title">Sign Up Here</h1>

    <div>
      <form class="signup">
        <input id="email-input" placeholder="example@company.com">
        <input id="password-input" placeholder="randompassword">
        <button>Sign Up</button>
      </form>
    </div>

    <h1 class="subtitle">Or Log In <a href="/login">here</a></h1>
  </div>
</div>